@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="page-content">
    <div class="form-block">
        <div class="block-title">
            Create a new account.
        </div>
        <form id="account" method="post" class="form-type-01 row">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-sm-12 col-md-12">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <button type="submit" class="btn btn-03">Register</button>
            </div>
        
        </form>
    </div>
</div>
@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to register.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
